body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 10px;
}
#display {
    font-family: Arial, sans-serif; /* 设置秒表时间的字体为 Arial */
    font-size: 200px; /* 可根据需要调整字体大小 */
}